.btn {
  display: inline-flex;
  padding: 10px 20px;

  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;
  user-select: none;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.button-dark-background {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
  margin: 0;
  background-color: $color-transparent;
  border: 3px solid $color-default-white;
  color: $color-default-white;
  font-size: 12px;
  line-height: 12px;
  font-family: $font-family-secondary;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-align: center;

  &:hover,
  &:focus {
    outline: none;
    color: $color-secondary;
    background-color: $color-default-white;
  }

  &:active {
    color: $color-primary;
    background-color: $color-default-white;
  }

  &--disabled {
    opacity: 0.5;
  }
}

.button-light-background {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
  margin: 0;
  background-color: $color-transparent;
  border: none;
  outline: 2px solid #1c3374;
  color: $color-primary;
  font-size: 12px;
  line-height: 12px;
  font-family: $font-family-secondary;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-align: center;

  &:hover,
  &:focus {
    outline: none;
    color: $color-default-white;
    background: $gradient-secondary;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background: $gradient-secondary;
  }

  &--disabled {
    opacity: 0.3;
  }
}
