.footer-navigation__container {
  min-height: 108px;
  background-color: $color-footer;
  color: $color-default-white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @include vp-1200 {
    min-height: 114px;
  }

  @include vp-767 {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 52px;
    align-items: start;
  }
}

.footer-navigation__logo {
  margin-top: 10px;

  @include vp-1200 {
    margin-top: 0;
  }

  @include vp-767 {
    margin-top: 0;
    position: absolute;
    top: 50px;
    left: 15px;
  }
}

.footer-navigation__logo-icon {
  @include vp-1200 {
    width: 82px;
    height: 18px;
  }

  @include vp-767 {
    width: 68px;
    height: 15px;
  }
}

.footer-navigation__navigation {
  width: auto;

  @include vp-767 {
    width: 100%;
    padding-bottom: 13px;
  }
}

.footer-navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include vp-767 {
    display: block;
    columns: 2;
  }
}

.footer-navigation__item {
  margin: 0;
  margin-right: 40px;
  padding: 0;
  line-height: $text-size-small;

  @include vp-1200 {
    margin-right: 30px;
  }

  @include vp-767 {
    margin: 0;
    margin-bottom: 24px;
    line-height: $text-size-medium;
  }

  &:first-child {
    @include vp-767 {
      padding-top: 39px;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.footer-navigation__button {
  position: relative;
  user-select: none;
  font-family: $font-family-secondary;
  font-size: $text-size-small;
  line-height: 100%;
  color: $color-default-white;
  background-color: $color-transparent;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  box-shadow: none;
  cursor: pointer;

  @include vp-767 {
    font-size: $text-size-medium;
  }

  &:hover:not(:disabled)::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-default-white;
    bottom: -5px;
    left: 0;
  }

  &:focus:not(:disabled),
  &:focus-visible:not(:disabled) {
    outline: none;
  }

  &:focus:not(:disabled)::before {
    content: "";
    position: absolute;
    display: block;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border: 1px solid $color-default-white;
    top: -5px;
    left: -5px;
    background-color: $color-transparent;
  }

  &:active {
    background-color: $color-transparent;
  }

  &:disabled {
    opacity: 0.4;
    cursor: auto;
  }
}

.footer-navigation__social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-navigation__social-item {
  margin: 0;
  margin-right: 11px;
  padding: 0;
  border-radius: 50%;

  &:last-child {
    margin-right: 0;
  }
}

.footer-navigation__social-button {
  background-color: $color-default-white;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    outline: none;
    background-color: $color-secondary;
  }

  &:active:not(:disabled) {
    background-color: $color-primary;
  }

  &:disabled {
    opacity: 0.3;
    cursor: auto;
  }

  &:hover:not(:disabled) svg,
  &:focus:not(:disabled) svg {
    color: $color-default-white;
  }
}

.footer-navigation__social-icon {
  color: $color-footer;
}
