.page-header__container {
  background: conic-gradient(
    from 137deg at 16% 38.74%,
    #b80027 -46.69deg,
    #003d85 32.24deg,
    #b80027 313.31deg,
    #003d85 392.24deg
  );
  background-color: #b80027;
  padding: 40px 0 51px;
  display: flex;
  flex-direction: column;

  @include vp-1200 {
    padding: 40px 45px 82px;
  }

  @include vp-767 {
    padding: 15px 15px 79px;
  }
}

.page-header__wrapper {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 103px;

  @include vp-1200 {
    margin: 0;
    padding: 0;
  }
}

.page-header__contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: -20px;

  @include vp-1200 {
    margin-bottom: -15px;
  }

  @include vp-767 {
    margin-bottom: -20px;
  }
}

.page-header__logo:focus,
.page-header__tel:focus,
.page-header__tel:focus-visible {
  outline: none;
  outline-offset: 0;
}

.page-header__logo {
  margin-right: 40px;
  margin-bottom: 20px;

  @include vp-1200 {
    margin-right: 20px;
  }
}

.page-header__logo-icon {
  @include vp-1200 {
    width: 82px;
    height: 17px;
  }

  @include vp-767 {
    width: 69px;
    height: 24px;
  }
}

.page-header__tel {
  color: $color-default-white;
  font-size: 26px;
  font-family: $font-family-primary;
  font-weight: 600;
  letter-spacing: 0.78px;
  line-height: 100%;
  position: relative;
  z-index: 1;
  margin-top: -8px;

  @include vp-1200 {
    margin-top: -3px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.48px;
    line-height: 105%;
  }

  @include vp-767 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.4px;
  }
}

.page-header__information {
  display: flex;

  @include vp-1200 {
    padding-right: 0;
    margin: 0 auto;
  }

  @include vp-767 {
    padding-top: 74px;
    margin: 0;
  }
}

.page-header__description-container {
  margin-right: 64px;
  margin-left: 147px;
  display: flex;
  flex-direction: column;
  padding-top: 115px;
  align-items: end;
  position: relative;

  @include vp-1200 {
    margin-right: 30px;
    margin-left: 139px;
    padding-top: 77px;
  }

  @include vp-767 {
    padding-top: 0;
    flex-grow: 1;
    margin-right: 0;
    margin-left: 0;
    justify-content: end;

    & form {
      width: 100%;
    }
  }
}

.page-header__description-city {
  color: $color-default-white;
  font-size: 44px;
  font-family: $font-family-primary;
  text-transform: lowercase;
  font-weight: 600;
  letter-spacing: 2.7px;
  margin-bottom: 32px;
  margin-right: 52px;

  @include vp-1200 {
    font-size: 34px;
    letter-spacing: 1.02px;
    text-transform: lowercase;
    margin-right: 5px;
    margin-bottom: 16px;
  }

  @include vp-767 {
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}

.page-header__description-heading-container {
  position: relative;
  margin-bottom: 48px;

  @include vp-1200 {
    margin-bottom: 0;
  }
}

.page-header__description-heading {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: $color-default-white;
  text-align: right;
  font-size: 92px;
  font-family: "Alumni Sans Bold", "Arial", sans-serif;
  font-weight: 600;
  letter-spacing: 4.6px;
  line-height: 120%;

  @include vp-1200 {
    margin-bottom: 36px;
    font-size: 72px;
    letter-spacing: 3.6px;
    text-transform: none;
  }

  @include vp-767 {
    margin-bottom: 24px;
    letter-spacing: 4.6px;
  }
}

.page-header__description-button {
  padding: 21px 54px;

  @include vp-1200 {
    padding: 21px 30px;
  }

  @include vp-767 {
    padding: 22px;
    width: 100%;
  }
}

.page-header__description-heading-list {
  position: absolute;
  bottom: 37px;
  left: -127px;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include vp-1200 {
    bottom: 57px;
    left: -145px;
  }

  @include vp-767 {
    bottom: 54px;
    left: -105px;
  }
}

.page-header__description-heading-item {
  @include small-text;
  color: $color-default-white;
  text-align: right;
}

.page-header__image-container {
  margin-top: -13px;

  @include vp-1200 {
    margin-top: 20px;
  }

  @include vp-767 {
    display: none;
  }
}

.page-header__image {
  min-width: 500px;
  max-width: 500px;
  height: 557px;

  @include vp-1200 {
    min-width: 324px;
    max-width: 324px;
    height: 390px;
  }
}
