.promo__container {
  padding-top: 166px;
  padding-bottom: 80px;
  background-color: $color-default-white;

  @include vp-1200 {
    padding-top: 105px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  h2 {
    padding: 0;
    margin: 0;
    color: $color-primary;
    font-size: 54px;
    font-family: $font-family-primary;
    font-weight: 600;
    letter-spacing: 1.62px;
    margin-bottom: 55px;
    text-align: center;

    @include vp-1200 {
      margin-bottom: 53px;
      font-size: 42px;
      letter-spacing: 2px;
      margin-left: -7px;
    }

    @include vp-767 {
      font-size: 32px;
      letter-spacing: 0.96px;
      margin-bottom: 50px;
    }
  }
}

.promo__list-container {
  display: flex;
  justify-content: space-between;
  max-width: 1366px;
  margin: 0 auto;
  row-gap: 40px;
  flex-wrap: wrap;

  @include vp-1200 {
    row-gap: 0;
    flex-direction: column;
  }
}

.promo__card {
  display: flex;
  background-color: $color-torch-red;
  width: 48.3%;
  flex-grow: 0;
  box-sizing: border-box;
  height: auto;

  @include vp-1200 {
    width: 100%;
    flex-grow: 1;
    margin-bottom: 30px;
  }

  @include vp-767 {
    flex-direction: column;
    max-width: 290px;
    margin: 0 auto 30px;
  }
}

.promo__card-description-container {
  display: flex;
  position: relative;
  flex-direction: column;
  color: $color-default-white;
  padding: 45px;
  padding-right: 40px;

  @include vp-1200 {
    padding: 44px 45px;
    flex-grow: 1;
  }

  @include vp-767 {
    padding: 42px 34px 45px;
  }

  span {
    font-size: 28px;
    font-family: $font-family-secondary;
    font-weight: 700;
    line-height: 85%;

    @include vp-1200 {
      margin-bottom: 11px;
    }

    @include vp-767 {
      text-align: center;
    }
  }

  b {
    font-size: 70px;
    font-family: $font-family-secondary;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 14px;
    letter-spacing: 1px;

    @include vp-1200 {
      line-height: 80%;
      margin-bottom: 26px;
      letter-spacing: 0;
    }

    @include vp-767 {
      text-align: center;
      margin-bottom: 22px;
    }
  }

  p {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: $font-family-secondary;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: auto;

    @include vp-767 {
      text-align: center;
      margin-bottom: 28px;
    }
  }

  form {
    @include vp-767 {
      margin: 0 auto;
    }
  }
}

.promo__card-button {
  position: relative;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  user-select: none;
  background-color: $color-transparent;
  border: none;
  border-bottom: 1px solid $color-default-white;
  color: $color-default-white;
  font-size: 13px;
  font-family: "Roboto Condenced Bold", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  text-align: left;
  align-self: self-start;
  line-height: 130%;
  letter-spacing: 1.2px;

  @include vp-767 {
    text-align: center;
    align-self: center;
    margin-top: 0;
    line-height: 140%;
  }

  &:focus-visible:not(:disabled) {
    border: none;
    outline: none;
    margin-bottom: 1px;
  }

  &:focus-visible::before {
    content: "";
    position: absolute;
    display: block;
    width: calc(100% + 20px);
    height: calc(100% + 16px);
    border: 1px solid $color-default-white;
    top: -8px;
    left: -10px;
    background-color: $color-transparent;
  }

  &--on-light-bg {
    color: $color-primary;
    border-bottom: 1px solid $color-primary;
    line-height: 110%;
    letter-spacing: 0;

    @include vp-1200 {
      font-size: 12px;
    }

    &:focus:not(:disabled)::before {
      border: 1px solid $color-primary;
    }
  }

  &:hover:not(:disabled) {
    opacity: 0.8;
  }

  &:active:not(:disabled) {
    opacity: 1;
  }

  &:disabled {
    opacity: 0.5;
    cursor: auto;
  }
}

.promo__card-image-container {
  min-width: 280px;
  margin-left: auto;

  @include vp-1200 {
    min-width: 399px;
    max-width: 399px;
    height: auto;
    flex-grow: 1;
  }

  @include vp-767 {
    min-width: 290px;
    max-width: 290px;
  }
}

.promo__image {
  object-fit: cover;
  height: 100%;

  @include vp-1200 {
    min-width: 399px;
    max-width: 399px;
  }

  @include vp-767 {
    min-width: 290px;
    max-width: 290px;
    height: 299px;
  }
}

.promo__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 48.3%;

  @include vp-1200 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.promo__item {
  display: flex;
  flex-direction: column;
  padding: 18px 28px 28px;
  border: 7px solid;
  border-image: $gradient-primary;
  border-image-slice: 1;
  margin-bottom: 40px;
  box-sizing: border-box;
  min-height: 211px;

  &:last-child {
    margin-bottom: 0;
  }

  @include vp-1200 {
    margin-bottom: 0;
    width: 100%;
    padding: 18px 28px 26px;
  }

  @include vp-767 {
    padding: 29px 25px 39px;
  }

  h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 2px;
    color: #1c3374;
    font-size: 26px;
    font-family: $font-family-secondary;
    font-weight: 700;
    line-height: 150%;

    @include vp-1200 {
      margin-bottom: 3px;
    }

    @include vp-767 {
      text-align: center;
    }
  }

  p {
    padding: 0;
    margin: 0;
    color: #1c3374;
    font-size: 16px;
    font-family: $font-family-secondary;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: auto;

    @include vp-767 {
      text-align: center;
    }
  }

  form {
    @include vp-767 {
      margin: 0 auto;
    }
  }
}
