@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Alumni Sans";
  font-display: swap;
  src: url("../fonts/alumni-sans.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Alumni Sans Bold";
  font-display: swap;
  src: url("../fonts/alumni-sans-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto Condenced";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-condensed.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condenced Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-condensed-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condenced Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-condensed-light.woff2") format("woff2");
  font-display: swap;
}
