@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Alumni Sans";
  font-display: swap;
  src: url("../../fonts/alumni-sans.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto Condenced";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/roboto-condensed.woff2") format("woff2");
  font-display: swap;
}
